/*  Pintail Research Style Sheet   */


/*Imports*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto|Montserrat&display=swap');

/*Site Wide*/
:root {
  --white: #fff;
  --davys-grey: #49494A;
  --sonic-silver: #707172;
  --black: #000000;
  --light-gray: #D3D5D7;
  --1: #9c9da2;
  --2: #373739;
  --3: #e0e0df;
  --4: #a3a4a4;
  --5: #898a8c;
}
* {
  margin: 0;
  padding: 0;
}

.hero{
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  color: fff;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}
h1, h2, h3, h4, h5, p{
  color: var(--2);
}
h1{
  font-size: 60px;
  padding: 20px;
}
h2{
  font-size: 40px;
  padding: 20px 0px;
}
p{
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
  margin-bottom: 30px;
}
img{
  max-width: 100vw;
}
.nav-logo{
  width: 200px;
  height: auto;
  position: absolute;
  right: 0;
  top: 5px;
}

.container{
  position: relative;
  max-width: 1600px;
  margin: auto;
}
.section{
  padding: 100px 40px;
  margin: 150px 0px;
}
.section-primary{
  background-color: var(--4);
}
.landing{
  height: 50vh;
}
.section-primary * {
  color: white;
}
.section-secondary{
  background-color: var(--white);
}
.quote-block {
  background-color: var(--2);
  color: var(--white);
}
.highlight{
  background-color: var(--1);
  color: var(--white);
  border-width: 2px;
  font-weight: bold;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  font-size: 24px;
  line-height: 50px;
  text-align: center;
  margin: 20px;
  height: 50px;
  padding: 0px 33px;
  border-radius: 25px;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.list-item{
border-top: 2px solid #ccc; /* This is the line replacing the hr*/
padding: 10px 0px;
}

li{
  color: pink;
  list-style-type: decimal;
}
.left{
  left: 0;
}
.white{
  color: var(--white);
}
.dark{
  color: var(--2);
}
.quote-image{
  width: 50px;
  height: auto;
  margin: 20px auto;
}

.footer{
  width: 100vw;
  padding-bottom: 50px;
  padding: 30px 20px;
  bottom: 0;
  position: relative;
  background-color: var(--2);
}
.footer p {
  color: var(--white);
}
#footer{
  margin-bottom: 0;
}

/* Flex Box */
.flex-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.flex-item{
  margin: 10px;
  width: 100px;
  height: 100px;
  text-align: center;
  background-color: var(--davys-grey);
}

/* Navigation */
.nav-bar{
  width: 100vw;
  height: 90px;
  display: flex; /* enables align-items */
  align-items: center; /* centers all contents of nav bar */
  justify-content: space-between;
  background-color: var(--2);
  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px #999;
}
.nav-container{
  display:flex;
  flex-direction: row;
}
.nav-item{
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 24px;
    clear: right;
    margin: 0 20px;
    line-height: 90px;
    text-decoration: none;
}
.nav-item:hover {
  transform: scale(1.2);
  transition-duration: 1s;
}

.underline{
  text-decoration: underline;
  text-decoration-color: black;
  text-decoration-style: solid;
}

/* Hamburger Button */

#hamburger-button{
  display: flex;
  justify-content: center; /*matter when mobile*/
  flex-direction: column;
}
#hamburger-button:after{
  content: '';
  position: absolute;
  width: 100px;
  height: 100px;
}
#hamburger-top-bun, #hamburger-patty, #hamburger-bottom-bun{
  border-radius: 0 25px 0 0;
  height: 4px;
  background-color: var(--white);
  margin: 6px 0;
}
#hamburger-top-bun{
  width: 40px;
}
#hamburger-patty{
  width: 30px;
}
#hamburger-bottom-bun{
  width: 20px;
}
.mobile-nav-exit{
  top: 20px;
  left: 20px;
  position: absolute;
  line-height: 0;
  padding: 30px;
  color: white;
}

/* ***************** */

@media screen and (max-width: 700px){
  h1{
  font-size: 40px;
  letter-spacing: 5px;
}
  #launch{
    font-size: 20px;
    word-spacing: 10px;
  }
  p{
    font-size: 22px;
  }
   #navigation-bar{
  position: fixed;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  left: 0;
  height: 60px;
  z-index: 1;
}
  #hamburger-button{
    display: flex; 
  }
  #menu {
    height: 0; /* js function changes this value on click */
    width: 100vw;
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    text-align: center;
    justify-content: center;
    transition: 0.3s; /* 0.3 second transition effect to slide in the sidenav */
    margin-top: 0; /* override standard margin top for desktop view*/
    overflow-x: hidden;
    background-color: var(--2);
  }
  .nav-container{
    flex-direction: column;
  }
  .nav-item{
    padding: 10px;
    text-decoration: none;
    font-size: 25px;
    color: var(--white);
    display: block;
    transition: 0.3s;
    margin: 0 auto;
    border-bottom: .5px solid var(--title);
  }
  .nav-item a:hover{
    color: #f1f1f1;
  }
  
}


