/*  Pintail Research Style Sheet   */


/*Imports*/
 @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Open+Sans:wght@300&family=Roboto:wght@100&display=swap');/*Site Wide*/
:root {
  --white: #fff;
  --davys-grey: #49494A;
  --sonic-silver: #707172;
  --black: #000000;
  --light-gray: #D3D5D7;
  --1: #9c9da2;
  --2: #373739;
  --3: #e0e0df;
  --4: #a3a4a4;
  --5: #898a8c;
}
body{
  width: 100vw;
}
main{
  margin: 0 auto;
  padding-top: 100px;
}
* {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5{
  margin: 10px 0;
  color: var(--2);
  font-family: 'Montserrat', sans-serif;
  padding: 10px 0px;
}
h1{
  font-size: 60px;
}
h2{
  font-size: 40px;
}
h3{
  font-size: 34px;
}
p{
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  margin-bottom: 30px;
}
img{
  max-width: 100%;
  margin: 20px 0px;
}
.cta-link p{
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid;
  color: var(--2);
  margin-bottom: 10px;
  font-size: 24px;
}
#nav-logo{
  width: 200px;
  height: auto;
  position: relative;
}
.container{
  position: relative;
  max-width: 1600px;
  margin: auto;
}
.section{
  padding: 150px 0px;
  width: 100%;
}
.section-content{
  max-width: 800px;
  padding: 30px;
  margin: 0 auto;
}

.section-primary{
  background-color: var(--4);
}
.landing{
  height: 50vh;
}
.section-primary * {
  color: white;
}
.light-block{
  background-color: var(--white);
}
.dark-block, .dark-block *{
  background-color: var(--2);
  color: var(--white);
}
.hidden-on-desktop{
  display: none;
}
.highlight{
  background-color: var(--1);
  color: var(--white);
  border-width: 2px;
  font-weight: bold;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  font-size: 24px;
  line-height: 50px;
  text-align: center;
  margin: 20px;
  height: 50px;
  padding: 0px 33px;
  border-radius: 25px;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.list-item{
border-top: 2px solid #ccc; /* This is the line replacing the hr*/
padding: 10px 0px;
}

li{
  color: pink;
  list-style-type: decimal;
}


/* Team Section */
.team-linkedin a{
  text-decoration: none;
}
.team-line{
  width: 40px;
  margin-top: 16px;
  margin-bottom: 16px;
  height: 1px;
  background-color: white;
}



.left{
  left: 0;
}
.white{
  color: var(--white);
}
.dark{
  color: var(--2);
}
.quote-image{
  width: 50px;
  height: auto;
  margin: 20px auto;
}

.footer{
  background-color: var(--2);
}
.footer p {
  color: var(--white);
}
#footer{
  margin-bottom: 0;
}
.footer-info p{
  margin-bottom: 5px;
  font-size: 18px;
}
.footer-info{
  margin: 40px 0px;
}

.smallest{
  font-size: 16px;
}

/* Flex Box */
.flex-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.flex-item{
  margin: 10px;
  text-align: left;
}

/* Navigation */
.nav-bar{
  position: fixed;
  width: 100%;
  height: 90px;
  display: flex; /* enables align-items */
  align-items: center; /* centers all contents of nav bar */
  background-color: var(--2);
  flex-direction: row;
  justify-content: space-between;
  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px #999;

  transition: height .2s ease-out;
  overflow: hidden;


}
.nav-container{
  display:flex;
  flex-direction: row;
}
.nav-item{
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 24px;
    clear: right;
    margin: 0 30px;
    line-height: 90px;
    text-decoration: none;
}
.nav-item:hover {
  transform: scale(1.2);
  transition-duration: 1s;
}

.underline{
  text-decoration: underline;
  text-decoration-color: black;
  text-decoration-style: solid;
}

/* Hamburger Button */

#hamburger-button{
  justify-content: center; /*matter when mobile*/
  flex-direction: column;
}
#hamburger-button:after{
  content: '';
  position: absolute;
  width: 100px;
  height: 100px;
}
#hamburger-top-bun, #hamburger-patty, #hamburger-bottom-bun{
  border-radius: 0 25px 0 0;
  height: 4px;
  background-color: var(--white);
  margin: 4px 0;
}
#hamburger-top-bun{
  width: 40px;
}
#hamburger-patty{
  width: 30px;
}
#hamburger-bottom-bun{
  width: 20px;
}
#mobile-nav-exit-button{
  top: 20px;
  left: 20px;
  position: absolute;
  line-height: 0;
  padding: 30px;
  color: white;
  font-size: 40px;
}

/* Contact Us Form */
.contact-us-form{
  width: 100%;
  height: 110%;
}


/* CSS TRANSITIONS */

@keyframes slideDownOnLoad {
  0%{
    transform: translateY(+25%);
    opacity: 0;
  }  100%{
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-down{
  animation: .8s ease 0s 1 slideDownOnLoad;
}

/* ***************** */

@media screen and (max-width: 700px){
  h1{
  font-size: 40px;
}
  #launch{
    font-size: 20px;
    word-spacing: 10px;
  }
  p{
    font-size: 22px;
  }
   #navigation-bar{
  position: fixed;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  left: 0;
  height: 60px;
  z-index: 1;
}
  #hamburger-button{
    display: flex; 
    padding-left: 20px;
  }
  #menu {
    height: 0; /* js function changes this value on click */
    width: 100vw;
    position: fixed; /* Stay in place */
    z-index: 100; /* Stay on top */
    top: 0;
    left: 0;
    text-align: center;
    justify-content: center;
    transition: 0.7s; /* 0.3 second transition effect to slide in the sidenav */
    margin-top: 0; /* override standard margin top for desktop view*/
    overflow-x: hidden;
    background-color: var(--2);
  }
  .nav-container{
    flex-direction: column;
  }
  .flex-container{
    justify-content: left;
  }
  .flex-item{
    margin: 0;
    padding: 10px 30px 10px 0px;
  }
  .main{
    padding-top: 0;
  }
  .nav-item{
    padding: 10px;
    text-decoration: none;
    font-size: 25px;
    color: var(--white);
    display: block;
    transition: 0.3s;
    margin: 0 auto;
    border-bottom: .5px solid var(--title);
  }
  .nav-item a:hover{
    color: #f1f1f1;
  }
  .hidden-on-desktop{
    display: flex;
  }
  
}


